/* --------------------------------------------------------------------------
 * >>> Variables :
 * -------------------------------------------------------------------------- */
// Fonts
$mainFont: 'ProximaNova', sans-serif;
$secFont: 'Intro', sans-serif;

// Colors
$white: #ffffff;
$black: #000000;
$grey:  #cccccc;
